# Binaries
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
Godeps/
*/Godeps/
*/.glide/

# The following are configuration files that might be created
# in the process of configuring your project

# Dotenv files
.env

# Compiled Go files
*.6
*.8
*.a
*.o

# Local binary files
__pycache__/
*.pyc
*.pyo

# Compiled Object files, Static and Dynamic libs
*.slo
*.la
*.lo
*.psp
*.psp_
*.psp_*
*.exp

# Log files and backups
*.log
*.bak
*.swp
*~

# Sublime Text directories
.project
.DS_Store

# Go-specific
# Binary executables
bin/
*.out
*.exe

# Golang dependency files
# (go.mod, go.sum)
go.sum
go.mod

# Test binary, build folder, and local configuration
test.out
_build/
.idea/
.vscode/
